<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/StudentRevise.css">
</head>
<body>
<div class="container information-content">
    <div class="content">
        <div class="information-title">
            <span>当前位置>修改密码</span>
        </div>
        <form role="form" method="post" action="/password">
            <div class="revise-content clearfix ">
                <div class="list fr"><label>原密码</label> :<input type="password" value="" name="old_password"/></div>
                <div class="list fr"><label>新密码</label> : <input type="password" value="" name="new_password"/></div>
                <div class="list fr "><label>确认密码</label> : <input type="password" value="" name="password_again"/></div>
            </div>
            <div class="list1 "> <input type="submit" value="提交" /></div>
        </form>
    </div>
</div>
<script th:inline="javascript">
    if([[${msg}]] != null){alert([[${msg}]])}
</script>
</body>
</html>